extends main.pug

block hero
  section.hero#hero
    // img(src="/assets/media/images/banners/if_enough_of_us_dream.png" alt="Crowddreaming a New World!")
    header
      h1 
        q!= labels.labs.hero.title
      cite
        | — #{labels.labs.hero.citation.title}, 
        a(href=labels.labs.hero.citation.source) #{labels.labs.hero.citation.author}
    p!= labels.labs.hero.subtitle

block content 
  section.container
    header
      h2 2024
    section.onetopic
      img(src="/assets/media/images/innovation/innov-melody.webp" alt="Melody: new tools for cultural inclusion")
      article
        h3 Melody (Metodologia)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.labs.main.readMore
    section.onetopic
      img(src="/assets/media/images/research/research-artemia-ciac.webp" alt="Artemìa methodology")
      article
        h3 Percorso Artemìa (Prototipo)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.labs.main.readMore
  section.container
    header
      h2 2023
    section.onetopic
      img(src="/assets/media/images/events/eventi-creacultura-2025.webp" alt="Banner crea cultura 2025")
      article
        h3 Storie del Mercato delle Gaite (Prototipo)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.labs.main.readMore
  section.container
    header
      h2 2022
    section.onetopic
      img(src="/assets/media/images/research/research-artemia-ciac.webp" alt="Artemìa methodology")
      article
        h3 FolignoEnigma (Strumento)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.labs.main.readMore
    section.onetopic
      img(src="/assets/media/images/innovation/innov-melody.webp" alt="Melody: new tools for cultural inclusion")
      article
        h3 Qualcosa (Metodologia)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.labs.main.readMore
    section.onetopic
      img(src="/assets/media/images/innovation/innov-melody.webp" alt="Melody: new tools for cultural inclusion")
      article
        h3 Qualcos'altro (Prototipo)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.labs.main.readMore
    
