extends main.pug

block hero
  section.hero#hero
    // img(src="/assets/media/images/banners/if_enough_of_us_dream.png" alt="Crowddreaming a New World!")
    header
      h1 
        q!= labels.projs.hero.title
      cite
        | — #{labels.projs.hero.citation.title}, 
        a(href=labels.projs.hero.citation.source) #{labels.projs.hero.citation.author}
    p!= labels.projs.hero.subtitle

block content 
  section.container
    header
      h2!=labels.projs.main.runningSectionTitle
    section.onetopic
      img(src="/assets/media/images/innovation/innov-melody.webp" alt="Melody: new tools for cultural inclusion")
      article
        h3 Melody (Europa - Erasmus KA..)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/" + lang + "/projects/cards/2022dream/")!=labels.projs.main.readMore
    section.onetopic
      img(src="/assets/media/images/research/research-artemia-ciac.webp" alt="Artemìa methodology")
      article
        h3 Artemìa (Locale - Finanziato da...)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.projs.main.readMore
  section.container
    header
      h2!=labels.projs.main.approvedSectionTitle
    section.onetopic
      img(src="/assets/media/images/events/eventi-creacultura-2025.webp" alt="Banner crea cultura 2025")
      article
        h3 Mirror (Europa - Erasmus KA..)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.projs.main.readMore
  section.container
    header
      h2!=labels.projs.main.closedSectionTitle
    section.onetopic
      img(src="/assets/media/images/research/research-artemia-ciac.webp" alt="Artemìa methodology")
      article
        h3 Melody (Europa - Erasmus KA..)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.projs.main.readMore
    section.onetopic
      img(src="/assets/media/images/innovation/innov-melody.webp" alt="Melody: new tools for cultural inclusion")
      article
        h3 Mirror (Europa - Erasmus KA..)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.projs.main.readMore
    section.onetopic
      img(src="/assets/media/images/innovation/innov-melody.webp" alt="Melody: new tools for cultural inclusion")
      article
        h3 Mirror (Europa - Erasmus KA..)
        p La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo.  Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio. - La descrizione del progetto va qui. Deve essere lunga circa 800-1000 caratteri. Come questo testo. Dovrebbero essere più che sufficienti a comunicare le caratteristiche essenziali del progetto, quali il problema che risolve o contribuisce a risolvere e/o il prodotto o i prodotti principali che possono essere di interesse generale. Probabilmente ha senso indicare qui anche i partner, ma solo se non si mangiano troppo spazio.
          a(href="/error404/")!=labels.projs.main.readMore
    
