extends main.pug

block hero
  section.hero#hero
    // img(src="/assets/media/images/banners/if_enough_of_us_dream.png" alt="Crowddreaming a New World!")
    header
      h1 
        q!= labels.team.hero.title
      cite
        | — #{labels.team.hero.citation.title}, 
        a(href=labels.team.hero.citation.source) #{labels.team.hero.citation.author}
    p!= labels.team.hero.subtitle

block content 
  section.container
    header
      h2!=labels.team.main.boardSectionTitle
      p 
    section.manytopics
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.board FirstName LastName, Role
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
            p Senectus magna placerat et euismod sem feugiat pharetra curae. Efficitur viverra nam nisl libero risus proin aptent sociosqu facilisi. Mattis erat luctus magna hac natoque ultricies quisque. Sit erat tellus euismod eu accumsan blandit potenti. Ultrices morbi habitant dis etiam vel. Taciti ullamcorper sagittis molestie nostra arcu ultricies litora nullam. Lobortis himenaeos class ex donec suspendisse. Hac elementum nec egestas curae natoque. Mi eget sit nec cubilia libero platea habitant ac consectetur. 
              a(href="/error404/")!=labels.team.main.readMore
          span.board.fa-solid.fa-sort-down
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.board FirstName LastName, Role
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
            p Senectus magna placerat et euismod sem feugiat pharetra curae. Efficitur viverra nam nisl libero risus proin aptent sociosqu facilisi. Mattis erat luctus magna hac natoque ultricies quisque. Sit erat tellus euismod eu accumsan blandit potenti. Ultrices morbi habitant dis etiam vel. Taciti ullamcorper sagittis molestie nostra arcu ultricies litora nullam. Lobortis himenaeos class ex donec suspendisse. Hac elementum nec egestas curae natoque. Mi eget sit nec cubilia libero platea habitant ac consectetur.
              a(href="/error404/")!=labels.team.main.readMore
          span.board.fa-solid.fa-sort-down
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.board FirstName LastName, Role
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
            p Senectus magna placerat et euismod sem feugiat pharetra curae. Efficitur viverra nam nisl libero risus proin aptent sociosqu facilisi. Mattis erat luctus magna hac natoque ultricies quisque. Sit erat tellus euismod eu accumsan blandit potenti. Ultrices morbi habitant dis etiam vel. Taciti ullamcorper sagittis molestie nostra arcu ultricies litora nullam. Lobortis himenaeos class ex donec suspendisse. Hac elementum nec egestas curae natoque. Mi eget sit nec cubilia libero platea habitant ac consectetur.
              a(href="/error404/")!=labels.team.main.readMore
          span.board.fa-solid.fa-sort-down
  section.container
    header
      h2!=labels.team.main.staffSectionTitle
      p 
    section.manytopics
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.staff FirstName LastName, Role
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
            p Senectus magna placerat et euismod sem feugiat pharetra curae. Efficitur viverra nam nisl libero risus proin aptent sociosqu facilisi. Mattis erat luctus magna hac natoque ultricies quisque. Sit erat tellus euismod eu accumsan blandit potenti. Ultrices morbi habitant dis etiam vel. Taciti ullamcorper sagittis molestie nostra arcu ultricies litora nullam. Lobortis himenaeos class ex donec suspendisse. Hac elementum nec egestas curae natoque. Mi eget sit nec cubilia libero platea habitant ac consectetur.
              a(href="/error404/")!=labels.team.main.readMore
          span.staff.fa-solid.fa-sort-down
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.staff FirstName LastName, Role
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
            p Senectus magna placerat et euismod sem feugiat pharetra curae. Efficitur viverra nam nisl libero risus proin aptent sociosqu facilisi. Mattis erat luctus magna hac natoque ultricies quisque. Sit erat tellus euismod eu accumsan blandit potenti. Ultrices morbi habitant dis etiam vel. Taciti ullamcorper sagittis molestie nostra arcu ultricies litora nullam. Lobortis himenaeos class ex donec suspendisse. Hac elementum nec egestas curae natoque. Mi eget sit nec cubilia libero platea habitant ac consectetur.
              a(href="/error404/")!=labels.team.main.readMore
          span.staff.fa-solid.fa-sort-down
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.staff FirstName LastName, Role
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
            p Senectus magna placerat et euismod sem feugiat pharetra curae. Efficitur viverra nam nisl libero risus proin aptent sociosqu facilisi. Mattis erat luctus magna hac natoque ultricies quisque. Sit erat tellus euismod eu accumsan blandit potenti. Ultrices morbi habitant dis etiam vel. Taciti ullamcorper sagittis molestie nostra arcu ultricies litora nullam. Lobortis himenaeos class ex donec suspendisse. Hac elementum nec egestas curae natoque. Mi eget sit nec cubilia libero platea habitant ac consectetur.
              a(href="/error404/")!=labels.team.main.readMore  
          span.staff.fa-solid.fa-sort-down
  section.container
    header
      h2!=labels.team.main.internsSectionTitle
      p 
    section.manytopics
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.interns FirstName LastName, Country
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit. 
          span.interns.fa-solid.fa-sort-down
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.interns FirstName LastName, Country
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit. 
          span.interns.fa-solid.fa-sort-down
      article
        img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
        header
          h3.interns FirstName LastName, Country
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. Parturient eu dolor purus sed ornare vulputate. Maecenas felis phasellus ante senectus senectus sodales aenean. Felis nostra nam venenatis nisl est metus, montes maximus. Scelerisque nulla vehicula litora justo vulputate netus eros magnis. Nisi mi praesent finibus libero rutrum condimentum blandit vel sit.
          span.interns.fa-solid.fa-sort-down
  section.container
    header
      h2!=labels.team.main.pastSectionTitle
      p 
    section.manytopics
      article
        header
          h3.pastcollaborations FirstName LastName, Country
            img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. 
          span.pastcollaborations.fa-solid.fa-sort-down
      article
        header
          h3.pastcollaborations FirstName LastName, Country
            img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. 
          span.pastcollaborations.fa-solid.fa-sort-down
      article
        header
          h3.pastcollaborations FirstName LastName, Country
            img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. 
          span.pastcollaborations.fa-solid.fa-sort-down
      article
        header
          h3.pastcollaborations FirstName LastName, Country
            img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. 
          span.pastcollaborations.fa-solid.fa-sort-down
      article
        header
          h3.pastcollaborations FirstName LastName, Country
            img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. 
          span.pastcollaborations.fa-solid.fa-sort-down
      article
        header
          h3.pastcollaborations FirstName LastName, Country
            img(src="/assets/media/images/events/eventi-gnoli-2024.webp" alt="Evento Gnoli 2024")
            p Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquam iaculis fames condimentum ornare non himenaeos tempor magna. 
          span.pastcollaborations.fa-solid.fa-sort-down
  section.container
      header
        h2!=labels.team.main.friendsSectionTitle
        p 
      section.manytopics
        span.fa-solid.fa-link.friends
          a(href="/error404/").friends!=` Organization, Country `
        span.friends.fa-solid.fa-link
          a(href="/error404/").friends!=` Organization, Country `
        span.friends.fa-solid.fa-link
          a(href="/error404/").friends!=` Organization, Country `
        span.friends.fa-solid.fa-link
          a(href="/error404/").friends!=` Organization, Country `
        span.friends.fa-solid.fa-link
          a(href="/error404/").friends!=` Organization, Country `

